---
layout: page.html
---

<h1>Hola</h1>

<p>
  I’m Adam Jahnke. I am currently building things at <a href="https://hotpot.works">Hotpot</a>. I live in Valencia,
  Spain with my wife <a href="https://olivetheartist.com">Olivia</a>.
</p>

<ul class="unlisted size-sm flex column gap-md mt-lg">
{%- assign posts = collections.posts | published | reverse -%}
{%- for post in posts -%}
  {% include "post-item", post: post %}
{%- endfor -%}
</ul>
