---
layout: page.html
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - posts
permalink: /tags/{{ tag }}/
---

<h1>Tagged “{{ tag }}”</h1>

<ul class="unlisted size-sm flex column gap-md">
{%- for post in collections[tag] published reversed -%}
  {% include "post-item", post: post %}
{%- endfor -%}
</ul>
