/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}

html {
  min-height: 100vh;
}
body {
  -webkit-font-smoothing: antialiased;
  background-color: rgb(var(--background));
  background-image: url("/assets/skull.svg");
  background-position: left 50vw top -10vw;
  background-repeat: no-repeat;
  background-size: contain;
  color: rgb(var(--foreground));
  font-family: system-ui, sans-serif;
  line-height: 1.5;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}
#root, #__next {
  isolation: isolate;
}

:root {
  --base03: 0 43 54;
  --base02: 7 54 66;
  --base01: 88 110 117;
  --base00: 101 123 131;
  --base0: 131 148 150;
  --base1: 147 161 161;
  --base2: 238 232 213;
  --base3: 253 246 227;
  --yellow: 181 137 0;
  --orange: 203 75 22;
  --red: 220 50 47;
  --magenta: 211 54 130;
  --violet: 108 113 196;
  --blue: 38 139 210;
  --cyan: 42 161 152;
  --green: 133 153 0;
  --background: var(--base3);
  --foreground: var(--base02);
  --alt-background: var(--base2);
  --link: var(--base02);
  --navlink: var(--base00);

}
@media (prefers-color-scheme: dark) {
  :root {
    --background: var(--base02);
    --foreground: var(--base2);
    --alt-background: var(--base03);
    --link: var(--base2);
  }
}

a {
  color: rgb(var(--link));
  text-decoration: underline dotted;
}
a:hover {
  text-decoration: underline solid;
}

button,
textarea,
select,
input {
  background-color: rgb(var(--alt-background));
  border: 1px solid rgb(var(--base00));
  border-radius: 4px;
  color: inherit;
  padding: 0 0.5em;
}

main {
  max-width: 777px;
  margin: 0 auto;
  padding: 0 1em;
}

article {
  margin-bottom: 2em;

  header {
    margin-bottom: 1em;
  }

  .prose > * {
    display: block;
    margin: 1em 0;
  }
  .prose > *:first-child {
    margin-top: 0;
  }
  .prose > *:last-child {
    margin-bottom: 0;
  }
}

section {
  margin-bottom: 2em;
}

:root {
  /* light theme variables specific to rehype-starry-night plugin */
  --hl-background-color: hsl(220, 23%, 97%);
  --hl-background-color-inline: var(--hl-background-color);
  --hl-border-color: hsl(215, 15%, 85%);
  --hl-outline-color: hsl(215, 15%, 70%, 0.5);
  --hl-line-highlight-background-color: hsl(220, 23%, 92%);
  --hl-line-added-background-color: hsla(103, 96%, 73%, 0.5);
  --hl-line-removed-background-color: hsla(4, 75%, 83%, 0.5);
  --hl-line-active-background-color: hsl(220, 23%, 89%);
  --hl-line-number-added-color: hsl(106, 59%, 27%);
  --hl-line-number-removed-color: hsl(355, 67%, 41%);

  --color-prettylights-background: rgb(var(--alt-background));
  --color-prettylights-syntax-comment: #59636e;
  --color-prettylights-syntax-constant: #0550ae;
  --color-prettylights-syntax-constant-other-reference-link: #0a3069;
  --color-prettylights-syntax-entity: #6639ba;
  --color-prettylights-syntax-storage-modifier-import: #1f2328;
  --color-prettylights-syntax-entity-tag: #0550ae;
  --color-prettylights-syntax-keyword: #cf222e;
  --color-prettylights-syntax-string: #0a3069;
  --color-prettylights-syntax-variable: #953800;
  --color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
  --color-prettylights-syntax-brackethighlighter-angle: #59636e;
  --color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
  --color-prettylights-syntax-invalid-illegal-bg: #82071e;
  --color-prettylights-syntax-carriage-return-text: #f6f8fa;
  --color-prettylights-syntax-carriage-return-bg: #cf222e;
  --color-prettylights-syntax-string-regexp: #116329;
  --color-prettylights-syntax-markup-list: #3b2300;
  --color-prettylights-syntax-markup-heading: #0550ae;
  --color-prettylights-syntax-markup-italic: #1f2328;
  --color-prettylights-syntax-markup-bold: #1f2328;
  --color-prettylights-syntax-markup-deleted-text: #82071e;
  --color-prettylights-syntax-markup-deleted-bg: #ffebe9;
  --color-prettylights-syntax-markup-inserted-text: #116329;
  --color-prettylights-syntax-markup-inserted-bg: #dafbe1;
  --color-prettylights-syntax-markup-changed-text: #953800;
  --color-prettylights-syntax-markup-changed-bg: #ffd8b5;
  --color-prettylights-syntax-markup-ignored-text: #d1d9e0;
  --color-prettylights-syntax-markup-ignored-bg: #0550ae;
  --color-prettylights-syntax-meta-diff-range: #8250df;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #818b98;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* dark theme variables specific to rehype-starry-night plugin */
    --hl-background-color: hsl(216, 18%, 11%);
    --hl-border-color: hsl(215, 11%, 22%);
    --hl-outline-color: hsl(215, 11%, 37%, 0.5);
    --hl-line-highlight-background-color: hsl(218, 14%, 17%);
    --hl-line-added-background-color: hsla(105, 62%, 20%, 0.5);
    --hl-line-removed-background-color: hsla(356, 69%, 31%, 0.5);
    --hl-line-active-background-color: hsl(218, 14%, 20%);
    --hl-line-number-added-color: hsl(105, 51%, 51%);
    --hl-line-number-removed-color: hsl(3, 77%, 74%);

    --color-prettylights-background: rgb(var(--alt-background));
    --color-prettylights-syntax-comment: #9198a1;
    --color-prettylights-syntax-constant: #79c0ff;
    --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
    --color-prettylights-syntax-entity: #d2a8ff;
    --color-prettylights-syntax-storage-modifier-import: #f0f6fc;
    --color-prettylights-syntax-entity-tag: #7ee787;
    --color-prettylights-syntax-keyword: #ff7b72;
    --color-prettylights-syntax-string: #a5d6ff;
    --color-prettylights-syntax-variable: #ffa657;
    --color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
    --color-prettylights-syntax-brackethighlighter-angle: #9198a1;
    --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
    --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
    --color-prettylights-syntax-carriage-return-text: #f0f6fc;
    --color-prettylights-syntax-carriage-return-bg: #b62324;
    --color-prettylights-syntax-string-regexp: #7ee787;
    --color-prettylights-syntax-markup-list: #f2cc60;
    --color-prettylights-syntax-markup-heading: #1f6feb;
    --color-prettylights-syntax-markup-italic: #f0f6fc;
    --color-prettylights-syntax-markup-bold: #f0f6fc;
    --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
    --color-prettylights-syntax-markup-deleted-bg: #67060c;
    --color-prettylights-syntax-markup-inserted-text: #aff5b4;
    --color-prettylights-syntax-markup-inserted-bg: #033a16;
    --color-prettylights-syntax-markup-changed-text: #ffdfb6;
    --color-prettylights-syntax-markup-changed-bg: #5a1e02;
    --color-prettylights-syntax-markup-ignored-text: #f0f6fc;
    --color-prettylights-syntax-markup-ignored-bg: #1158c7;
    --color-prettylights-syntax-meta-diff-range: #d2a8ff;
    --color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
  }
}

/* This is a theme distributed by `starry-night`.
 * It’s based on what GitHub uses on their site.
 * See <https://github.com/wooorm/starry-night> for more info. */
/*pre {*/
/*  background-color: var(--color-prettylights-background);*/
/*  border-radius: 4px;*/
/*  font-size: 14px;*/
/*  overflow-x: scroll;*/
/*  padding: 0 0.5em;*/
/*}*/

.pl-c {
  color: var(--color-prettylights-syntax-comment);
}

.pl-c1,
.pl-s .pl-v {
  color: var(--color-prettylights-syntax-constant);
}

.pl-e,
.pl-en {
  color: var(--color-prettylights-syntax-entity);
}

.pl-smi,
.pl-s .pl-s1 {
  color: var(--color-prettylights-syntax-storage-modifier-import);
}

.pl-ent {
  color: var(--color-prettylights-syntax-entity-tag);
}

.pl-k {
  color: var(--color-prettylights-syntax-keyword);
}

.pl-s,
.pl-pds,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: var(--color-prettylights-syntax-string);
}

.pl-v,
.pl-smw {
  color: var(--color-prettylights-syntax-variable);
}

.pl-bu {
  color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

.pl-ii {
  color: var(--color-prettylights-syntax-invalid-illegal-text);
  background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

.pl-c2 {
  color: var(--color-prettylights-syntax-carriage-return-text);
  background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

.pl-sr .pl-cce {
  font-weight: bold;
  color: var(--color-prettylights-syntax-string-regexp);
}

.pl-ml {
  color: var(--color-prettylights-syntax-markup-list);
}

.pl-mh,
.pl-mh .pl-en,
.pl-ms {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-heading);
}

.pl-mi {
  font-style: italic;
  color: var(--color-prettylights-syntax-markup-italic);
}

.pl-mb {
  font-weight: bold;
  color: var(--color-prettylights-syntax-markup-bold);
}

.pl-md {
  color: var(--color-prettylights-syntax-markup-deleted-text);
  background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

.pl-mi1 {
  color: var(--color-prettylights-syntax-markup-inserted-text);
  background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

.pl-mc {
  color: var(--color-prettylights-syntax-markup-changed-text);
  background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

.pl-mi2 {
  color: var(--color-prettylights-syntax-markup-ignored-text);
  background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

.pl-mdr {
  font-weight: bold;
  color: var(--color-prettylights-syntax-meta-diff-range);
}

.pl-ba {
  color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

.pl-sg {
  color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

.pl-corl {
  text-decoration: underline;
  color: var(--color-prettylights-syntax-constant-other-reference-link);
}

.hl {
  --hlFontFamilyMono: ui-monospace, SFMono-Regular, "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  --hlFontFamilyCode: var(--hl-font-mono, var(--hlFontFamilyMono));
  --hlBgColor: var(--hl-background-color, hsl(220, 23%, 97%));
  --hlBorderThickness: var(--hl-border-thickness, 1px);
  --hlBorderColor: var(--hl-border-color, hsl(215, 15%, 85%));
  --hlBorderRadius: var(--hl-border-radius, 12px);
  --hlBorderRadiusSm: calc(var(--hlBorderRadius) / 2);
  --hlOutlineThickness: var(--hl-outline-thickness, 5px);
  --hlOutlineColor: var(--hl-outline-color, hsl(215, 15%, 85%));
  --hlLineGap: var(--hl-line-gap, 1ex);
  --hlLineBorderWidth: var(--hl-line-border-width, 2px);
  --hlLineBorderColor: var(--hl-line-border-color, transparent);
  --hlLineNumberColor: var(--hl-line-number-color, var(--color-prettylights-syntax-sublimelinter-gutter-mark));
  --hlLineBgColor: transparent;
  --hlLineActiveBgColor: var(--hl-line-active-background-color, hsl(220, 23%, 89%));
  --hlLineHighlightBgColor: var(--hl-line-highlight-background-color, hsl(220, 23%, 92%));
  --hlLineAddedBgColor: var(--hl-line-added-background-color, hsl(103, 96%, 73%, 0.5));
  --hlLineRemovedBgColor: var(--hl-line-removed-background-color, hsl(4, 75%, 83%, 0.5));
  --hlLineNumberAddedColor: var(--hl-line-number-added-color, hsl(106, 59%, 27%));
  --hlLineNumberRemovedColor: var(--hl-line-number-removed-color, hsl(355, 67%, 41%));
  --hlLinePromptColor: var(--hl-line-prompt-color, hsl(357, 63%, 58%));
  --hlLinePromptSize: 1em;

  background-color: var(--hlBgColor);
  border: var(--hlBorderThickness) solid var(--hlBorderColor);
  border-radius: var(--hlBorderRadius);
}

.hl-header {
  display: flex;
  align-items: center;
  gap: 1ch;
  padding: 0.75ch;
  border-bottom: 1px solid var(--hlBorderColor);
  font-size: 0.7em;
}

.hl-language {
  font-family: var(--hlFontFamilyCode);
  line-height: 1;
  padding: 0.75ch 1ch;
  border-radius: var(--hlBorderRadiusSm);
  background-color: var(--hlLineHighlightBgColor);
}

.hl pre {
  background-color: transparent;
  border: none;
  overflow-x: auto;
  border-radius: inherit;
}

.hl pre:focus-within {
  outline-style: solid;
  outline-color: var(--hlOutlineColor);
  outline-width: var(--hlOutlineThickness);
}

.hl pre>code {
  display: grid;
  padding: var(--hlLineGap) 0;
  cursor: auto;
  touch-action: auto;
  white-space: pre;
}

.hl .line {
  --hlLinePaddingLeft: calc(var(--hl-line-marker-gutter-factor, 0) * 1.5ch + 1ch);
  --hlLineMarkerOffset: calc((var(--hlLinePaddingLeft) * -1) + 0.5ch);
  border-left: var(--hlLineBorderWidth) solid var(--hlLineBorderColor);
  padding-left: var(--hlLinePaddingLeft);
  padding-right: 1ch;
  background-color: var(--hlLineBgColor);
}

.hl .line[data-highlighted] {
  --hlLineNumberColor: var(--color-prettylights-syntax-comment);
  --hlLineBgColor: var(--hlLineHighlightBgColor);
  --hlLineBorderColor: var(--hlLineNumberColor);
}

.hl .line[data-line-added] {
  --hlLineNumberColor: var(--hlLineNumberAddedColor);
  --hlLineBgColor: var(--hlLineAddedBgColor);
  position: relative;
}

.hl .line[data-line-added]::before {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' fill-rule='evenodd' clip-rule='evenodd' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 12h12m-6-6v12'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: top center;
  mask-size: contain;
  display: inline-block;
  position: absolute;
  margin-left: var(--hlLineMarkerOffset);
  top: 0.5ch;
  text-decoration: none;
  user-select: none;
  background-color: var(--hlLineNumberColor);
  width: var(--hlLinePromptSize);
  height: var(--hlLinePromptSize);
  min-width: var(--hlLinePromptSize);
  min-height: var(--hlLinePromptSize);
}

.hl .line[data-line-removed] {
  --hlLineNumberColor: var(--hlLineNumberRemovedColor);
  --hlLineBgColor: var(--hlLineRemovedBgColor);
  position: relative;
}

.hl .line[data-line-removed]::before {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' fill-rule='evenodd' clip-rule='evenodd' stroke='currentColor' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M6 12h12'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: top center;
  mask-size: contain;
  display: inline-block;
  position: absolute;
  margin-left: var(--hlLineMarkerOffset);
  top: 0.5ch;
  text-decoration: none;
  user-select: none;
  background-color: var(--hlLineNumberColor);
  width: var(--hlLinePromptSize);
  height: var(--hlLinePromptSize);
  min-width: var(--hlLinePromptSize);
  min-height: var(--hlLinePromptSize);
}

.hl .line[data-unselectable] {
  user-select: none;
}

.hl .line:focus:not(:focus-visible),
.hl .line:hover {
  --hlLineNumberColor: var(--color-prettylights-syntax-comment);
  --hlLineBgColor: var(--hlLineActiveBgColor);
}

.hl .line-number {
  --hlLineNumberWidth: calc(var(--hl-line-number-gutter-factor) * 1ch);
  display: inline-block;
  user-select: none;
  margin-right: 1em;
  text-align: right;
  color: var(--hlLineNumberColor);
  width: var(--hlLineNumberWidth);
}

.hl .line-prompt::before {
  content: "";
  mask-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' width='24' height='24' fill='none' fill-rule='evenodd' clip-rule='evenodd' stroke='currentColor' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath d='M17.744 7.111a3.67 3.67 0 0 0-3.3-2.444H9.556a3.684 3.684 0 0 0-3.667 3.666A3.684 3.684 0 0 0 9.556 12h4.888a3.684 3.684 0 0 1 3.667 3.667 3.684 3.684 0 0 1-3.667 3.666H9.556a3.67 3.67 0 0 1-3.3-2.444M13 1l-2 22'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: top center;
  mask-size: contain;
  display: inline-block;
  margin-right: 0.5ch;
  margin-bottom: 0.3ex;
  vertical-align: middle;
  text-decoration: none;
  user-select: none;
  background-color: currentColor;
  color: var(--hlLinePromptColor);
  width: var(--hlLinePromptSize);
  height: var(--hlLinePromptSize);
  min-width: var(--hlLinePromptSize);
  min-height: var(--hlLinePromptSize);
}

code.hl-inline {
  --hlBgInline: var(--hl-background-color-inline, hsl(208, 21%, 14%));
  font-family: var(--hl-font-mono);
  background-color: var(--hlBgInline);
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  font-size: 0.95em;
  border-radius: 0.5ch;
}
